## Python Workshop
                                                                                                -- Module : Sets

## Sets

### What are Sets?
A set is a collection which is both **unordered** and **unindexed**, where each element is **different** from each other.<br>
Like Lists, sets are also **Hetrogenous**.<br>
In python there are two types of sets:-
```
1. Set        {Mutable}
2. Frozenset  {Immutable}
```

### Initialising a Set
A set can be initialised either by directly calling its function or `{}` brackets (not applicable to frozenset)

In [6]:
se = set()
f_se = frozenset()

se = {'Banana','BANANA','Cap',2,44.56} # It is case-sensetive

### Finding length of a Set

In [7]:
print(f"se has {len(se)} elements")

se has 5 elements

### Accessing Items of Sets

Since sets are **unorganised** as well as **unindexed** we can't directly access any element in a set.<br>
We can either **traverse** a set or check if an object **exist** in set or not.

In [8]:
try:
    print(se[2])
except:
    print("Indexing not allowed!!")


    
if 'Cap' in se:
    print("Cap exist in set!!")
else:
    print("No Match Found!!")

Indexing not allowed!!
Cap exist in set!!

### Add items in Set
To add item in set we will use `.add(val)` method.

In [18]:
se.add('New Element')

To add any iterable in set we can use `.update(iterable)` method

In [12]:
se.update(['A','A','b']) # Only single 'A' and 'b' will be added to Set... No duplicate values

print(se) # Order is not preserved

{'Cap', 2, 'b', 'A', 'BANANA', 44.56, 'New Element', 'Banana'}

### Remove items from Set
To remove an item from set we can use `.remove()` or `.discard()` method.


**Note: If the item to be removed does not exist in set then ``.remove()`` method will raise an error while `.discard()` will not.**

In [19]:
se.remove('New Element')

se.discard("Non Existent Element") # Even though this element does not exist in set it will not raise any error.

To remove all values from set we can use `.clear()` method

In [20]:
se.clear()
print(se) # Empty Set

set()

To delete the set permanently we can use `del`.

In [21]:
del se # Removes se from existence

### Union, Intersection and Symmetric Difference

The `union()` method returns a new set with **all items from both sets**.<br>
The `intersection()` method returns a new set with items that are **present in both sets**.<br>
The `symmetric_difference()` method will return a new set, that contains only the elements that are **NOT present in both sets**.

All the above methods creats a new set but if we want to **update** an existing one we can use following methods.

The `.update()` method inserts the items in ***set2 into set1***. <br>
The `.intersection_update()` method will keep only the items that are **present in both sets**.<br>
The `.symmetric_difference_update()` method will keep only the elements that are **NOT present in both sets**.

In [22]:
set1 = {1,2,3,4}
set2 = {1, 'Banana','2',3}

In [27]:
set3 = set1.union(set2)
set4 = set1.intersection(set2)
set5 = set1.symmetric_difference(set2)

print(f"Union: {set3}")
print(f"Intersection: {set4}")
print(f"Symmetric Difference: {set5}")

Union: {1, 2, 3, 4, '2', 'Banana'}
Intersection: {1, 3}
Symmetric Difference: {2, 4, '2', 'Banana'}

In [30]:
set1.update(set2)
print(set1) # Updated set1
set1.intersection_update(set5)
print(set1) # Updated set1
set1.symmetric_difference_update(set2)
print(set1) # Updated set1

{1, 2, 3, 4, '2', 'Banana'}
{2, '2', 4, 'Banana'}
{1, 2, 3, 4}

## <center>END</center>