## Python Workshop
                                                                                        -- Module: Tuples

## Tuples

### What are a Tuples?

A tuple is a collection which is **ordered** and **immutable**.<br>
A tuple can store **hetrogenous** data and also allows **duplicate values**.

### Initializing a Tuple
To initialise a tuple we could use `()` or `tuple()`. <br>

In [1]:
tup = ()
tup1 = tuple()

tup1 = ('Black','Bettles','in','the','city')

#### Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [5]:
one_ele_tup = ('apple',)
not_a_tup = ('apple')

print(type(one_ele_tup),type(not_a_tup),sep = '\n\n')

<class 'tuple'>

<class 'str'>

### Accessing Items in tuple
Simillar to lists, tuples are also indexed.

In [2]:
tup1[1]

'Bettles'

### Length of Tuple
By using `len()` function we can get the length of the tuple

In [3]:
print(len(tup1))

5

### Add tuple to tuple
Since Tuples are **immutable** we can't directly add or remove any elemnet in tuple, but we can **add a tuple to a tuple** to create a new tuple in order to add element.

In [8]:
tup2 = ('Evacuate','Immediately')
tup3 = tup1 + tup2

print(tup3)

('Black', 'Bettles', 'in', 'the', 'city', 'Evacuate', 'Immediately')

### Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the `*` operator

In [16]:
tup4 = tup1*2
print(tup4)

('Black', 'Bettles', 'in', 'the', 'city', 'Black', 'Bettles', 'in', 'the', 'city')

### Packing and Unpacking
One of the use of tuple is to pack a series of data, for later use

In [10]:
fruits = ('apple','banana','Guava')
apple,banana,guava = fruits

print(apple,banana,guava,sep = '\n')

apple
banana
Guava

Using `*` we can unpack multiple values in single variable

In [14]:
apple,*other = fruits

print(apple,other, sep='\n')

apple
['banana', 'Guava']

### Count Method
To count the occurance of element in tuple we can use `.count()` method.

In [17]:
print(tup4.count('Black'))

2

### Index Method
The `index()` method finds the **first** occurrence of the specified value.

In [19]:
tup4.index('city')

4

## <center>END